@keyframes rotateImage {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.Animated {
  animation: rotateImage 5s cubic-bezier(0.83, 0, 0.17, 1) infinite !important;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 2px 4px) !important;
}
